<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="TestHomePage">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.endava.TestHomePage" />
		</classes>
	</test>
	<test thread-count="5" name="TestMenuPage">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.endava.TestMenuPage" />
		</classes>
	</test>
	<test thread-count="5" name="TestAgilePage">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.endava.TestAgilePage" />
		</classes>
	</test>
	<test thread-count="5" name="TestAutomationPage">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.endava.TestAutomationPage" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="TestInvestorsPage">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.endava.TestInvestorsPage" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="TestContactPage">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.endava.TestContactPage" />
		</classes>
	</test>
	<test thread-count="5" name="TestAboutPage">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.endava.TestAboutPage" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->